@import '_vars';
@import '_base';
@import '_animation';

.highlight {
  padding: 4px;
  border-radius: 2px;
  background-color: lighten($green, 20%);
  color: #000;
}

html {
  scroll-behavior: smooth;
}

a.button {
  background-color: white;
  padding: 1.2rem 2.6rem;
  color: $red;
  border: 1px solid #f7f7f7;
  border-radius: 10rem;
  display: inline-block;
  font-weight: $font-bold;
  position: relative;
  z-index: 10;
  transition: box-shadow .15s ease;
  transition: transform .15s ease;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  &.button-red {
    border-color: $red;
    color: $white;
    background-color: $red;
    &:hover {
      color: $white;
    }
  }
  &:hover {
    text-decoration: none;
    transform: translateY(-2px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(50,50,93,.1);
  }
  &:active {
    text-decoration: none;
    filter: brightness(90%);
  }
  &.caret {
    padding-right: 3.6rem;
    position: relative;
    &::after {
      content: ' ';
      position: absolute;
      right: 1.6rem;
      top: 50%;
      margin-top: -2px;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;

      border-top: 4px solid white;
    }
  }
}

article.nav {
  padding-top: 2rem;
  .hamburger {
    position: relative;
    z-index: 100;
    span {
      display: block;
      width: 3.2rem;
      height: 4px;
      margin-bottom: 4px;
      position: relative;
      background: $red;
      border-radius: 4px;
      transition: ease all .3s;
    }
    &:hover {
      span {
        opacity: .7;
      }
    }
  }
  .hamburger-menu {
    visibility: hidden;
    width: 100vw;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    transition: ease opacity .3s;
    opacity: 0;
    &.show {
      visibility: visible;
      position: fixed;
      opacity: 1;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, .8);
      z-index: 99;
      text-align: center;
      padding-top: 33%;
      a {
        color: white;
        font-size: 4rem;
        display: block;
        &:active, &:hover {
          color: $red;
        }
      }

    }
  }
  img.logo {
    height: 5rem;
  }
  .logo-link {
    transition: ease all .3s;
    &:hover {
      filter: none;
      opacity: .7;
    }
    &:active {
      filter: none;
    }
  }
  ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  li {
    display: inline-block;
    margin-left: 3.2rem;
    a {
      font-weight: $font-bold;
      color: $grey;
      &.red {
        color: $red;
      }
      &.active {
        color: $black;
      }
      &:hover {
        filter: brightness(140%);
      }
    }
    &:first-child {
      margin-left: 0rem;
      flex: 1;
    }
  }
}

%jump-in {
  opacity: 0;
  position: relative;
  animation: jump-in .5s 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

article.hero {
  // background-color: black;
  position: relative;
  padding: 4rem 0rem 4rem;
  h1, h3 {
    margin-bottom: 2rem;
  }
  h1 {
    // &.animate {
    //   @extend %jump-in;
    // }
  }
  p {
    // &.animate {
    //   animation-delay: .2s;
    //   @extend %jump-in;
    // }
    margin-bottom: 4rem;
  }
  h3 {
    font-size: 1.6rem;
    font-weight: $font-black;
    color: $grey;
    text-transform: uppercase;
  }
  img.apple-bg {
    position: absolute;
    z-index: -1;
    bottom: -8rem;
    right: -2rem;
    opacity: .2;
    // &.animate {
    //   animation: apple-bg .5s 1;
    //   animation-delay: .4s;
    //   animation-timing-function: ease;
    //   animation-fill-mode: forwards;
    // }
  }
  a.button {
    // &.animate {
    //   animation-delay: .3s;
    //   @extend %jump-in;
    // }
    margin-right: 1rem;
  }
  @media (max-width: 767.98px) {
    padding: 12rem 0rem 12rem;
    img.apple-bg {
      position: absolute;
      z-index: -1;
      bottom: -8rem;
      left: -8rem;
      right: auto;
      opacity: .1;
    }
  }
}

article.subpage-hero {
  padding: 14rem 0rem 0rem;
  @media (max-width: 767.98px) {
    padding: 8rem 0rem 0rem;
  }
  .spacing {
    padding-bottom: 14rem;
  }
  .button {
    margin-bottom: 1rem;
  }
  .dropdown {
      position: relative;
      display: inline-block;
  }

  .dropdown-content {
      display: none;
      position: absolute;
      border-radius: 4px;
      right: 0;
      background-color: white;
      color: $red;
      overflow: hidden;
      min-width: 16rem;
      -webkit-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.1);
      -moz-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.1);
      box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.1);
      z-index: 1;
  }

  .dropdown-content a {
      color: $grey;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  .dropdown-content a:hover {
    background-color: $red;
    color: white;
    filter: none;
  }

  .dropdown:hover .dropdown-content {
      display: block;
      z-index: 99;
  }

  .dropdown:hover .dropbtn {
    text-decoration: none;
    transform: none;
    filter: brightness(80%);
  }

}


article.home-intro {
  @extend article.section;
  background-color: $red;
  color: white;
  h4 {
    font-size: 2rem;
  }
}

span.divider {
  margin-top: 2.4rem;
  margin-bottom: 3rem;
  width: 2rem;
  display: block;
  background-color: $grey;
  height: .2rem;
  &.right {
    margin-right: 0;
    margin-left: auto;
  }
  &.white {
    background-color: white;
  }
}

article.home-info {
  @extend article.section;
  p {
    margin-bottom: 8rem;
  }
  .dept-row {
    a {
      opacity: .6;
      img {
        max-width: 90%;
        max-height: 5rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
        filter: grayscale(1);
        transition: ease all .1s;
      }
      &:hover {
        opacity: 1;
        img {
          filter: grayscale(0);
          transform: scale(1.02);
        }
      }
    }
  }
  .image-row {
    img {
      width: 100%;
      // opacity: .1;
      border-radius: 2px;
      margin-bottom: 4rem;
      transition: ease all .1s;
      &:hover {
        transform: scale(1.02);
      }
    }
  }
}


article.team-members {
  .image-row {
    img {
      border-radius: 50%;
      margin-bottom: 1rem;
    }
    p {
	margin-bottom: 1rem;
    }
  }
}

article.faq {
  @extend article.section;
  p, ul {
    margin-bottom: 4rem;
  }
}
// article.team {
//   @extend article.section;
//   h2 {
//     margin-top: 8rem;
//     margin-bottom: 2rem;
//   }
//   .intro {
//     h2 {
//       font-weight: normal;
//       font-size: 3rem;
//       margin-top: 0;
//       margin-bottom: 2rem;
//     }
//   }
//   .modal {
//     .modal-dialog {
//       margin-top: 8rem;
//       .modal-content {
//         border-radius: 8px;
//         .modal-header {
//           border: none;
//           padding: 4rem;
//           padding-bottom: 0;
//           button.close {
//             font-size: 2.2rem;
//           }
//         }
//         .modal-body {
//           padding: 2rem 4rem 4rem;
//           .name {
//             padding-bottom: 2rem;
//             margin-bottom: 2rem;
//             border-bottom: 1px solid #e3e3e3;
//           }
//         }
//       }
//     }
//   }
//   .people-row {
//     .person {
//       position: relative;
//       img {
//         max-width: 100%;
//         border-radius: 8px;
//         margin-bottom: 3rem;
//         transition: ease all .1s;
//       }
//       &.clickable {
//         &:hover {
//           cursor: pointer;
//           img {
//             transform: scale(1.05);
//           }
//         }
//         &:active {
//           img {
//             opacity: .7;
//           }
//         }
//       }
//       &.large {
//         img {
//           margin-bottom: 1.5rem;
//         }
//       }
//     }
//   }
//
// }

article.catalog {
  .class {
    opacity: 1;
  	animation-name: fadeIn;
  	animation-iteration-count: 1;
  	animation-timing-function: ease-in;
  	animation-duration: .35s;
  }
  @keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}
  article.top {
    h1 {
      padding-bottom: 4rem;
    }
  }

  article.bottom {
    padding-top: 2rem;
    padding-bottom: 8rem - 2rem;
    div.class {
      padding-top: 4rem;
      padding-bottom: 4rem;
      border-bottom: 1px solid #e3e3e3;
      p {
        margin-bottom: 0;
      }
      h2 {
        font-size: 2.6rem;
        margin-bottom: 1rem;
      }
      .class-num {
        font-weight: 800;
      }
      .heading {
        font-weight: bold;
      }
      &:last-child {
        border-bottom: none;
      }
    }
    div.classes-footer {
      margin-top: 6rem;
      opacity: .5;
      text-align: center;
    }
  }

  // .sticky + .bottom {
  //   padding-top: 197px;
  // }

  article.catalog-settings {
    // @extend article.section;
    padding-top: 2rem;
    padding-bottom: 1rem; // 1 more rem from each button
    transition: ease box-shadow .3s;
    &.sticky {
      position: fixed;
      top: 0;
      width: 100%;
      background-color: white;
      z-index: 1;
      -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.1);
      -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.1);
      box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.1);
    }
    .search-input {
      @extend a.button;
      color: $black;
      &:hover {
        transform: none;
      }
      &:active {
        filter: none;
      }
      width: 100%;
      &:hover {
      }
      &:active, &:focus {
        outline: none;
      }
    }
    div.options {
      display: flex;
      justify-content: space-between;
      padding-top: 2rem;
      .button {
        cursor: pointer;
        margin-bottom: 1rem;
        margin-left: .4rem;
        color: $red;
        &.tag-option-selected {
          @extend .button-red;
        }
        &.button-red {
          color: $white;
        }
        &:first-child {
          margin-left: 0rem;
        }
      }

      .dropdown {
          position: relative;
          display: inline-block;
      }

      .dropdown-content {
          display: none;
          position: absolute;
          border-radius: 4px;
          right: 0;
          background-color: white;
          color: $red;
          overflow: hidden;
          min-width: 16rem;
          -webkit-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.1);
          -moz-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.1);
          box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.1);
          z-index: 1;
      }

      .dropdown-content a {
          color: $grey;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
      }

      .dropdown-content a:hover {
        background-color: $red;
        color: white;
        filter: none;
      }

      .dropdown:hover .dropdown-content {
          display: block;
          z-index: 99;
      }

      .dropdown:hover .dropbtn {
        text-decoration: none;
        transform: none;
        filter: brightness(80%);
      }
    }

  }
}

article.contact {
  @extend article.section;
  background-color: $red;
  color: white;
  .divider {
    background-color: white;
  }
  a {
    color: white;
    transition: ease all .15s;
    &:hover {
      opacity: .6;
      text-decoration: none;
    }
  }
  p {
    font-size: 2rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
  }
  img {
    height: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

article.apply {
  padding-bottom: 6rem;
  p {
    margin-bottom: 4rem;
  }
  .guidelines {
    // display: none;
    position: relative;
    height: auto;
  }
}

article.footer {
  background-color: black;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  p {
    margin: 0;
    color: white;
    opacity: .6;
  }
}


// SPINNER
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #e3e3e3;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
