$font-normal: 300;
$font-bold: bold;
$font-black: 900;

$black: #000000;
$grey: #888888;
$red: #D95444;
$white: #ffffff;

$green: #63dd82;


// Vars (bp stands for bitcamp)
// $bp-dark-brown: #7F6C5F;
// $bp-medium-brown: #A58D7C;
// $bp-light-brown: #E5D8CE;
//
// $bp-cloud-white: #FFFFFF;
//
// $bp-flame-red: #FF3F46;
// $bp-bitcamp-orange: #FF6F3F;
// $bp-yellow-orange: #FFAF3F;
// $bp-yellow: #FFEF3F;
//
// $bp-midnight-blue: #1A2E33;
// $bp-medium-blue: #528CA5;
// $bp-sky-blue: #CBF2FF;
//
// // Custom
//
// $bp-midnight-blue-light: #22363c;
